.contenedor-habilidades p{
  color: #fff ;
  display: flex;
  width: 600px;
  margin-top: -490px;
  margin-left: 580px;
  text-align: justify;
  line-height: 1.7;
  font-size: 17px;
  font-style: italic;
}