.contenedor-habilidades p {
  color: #fff ;
  display: flex;
  width: 600px;
  margin-top: -490px;
  margin-left: 580px;
  text-align: justify;
  line-height: 1.7;
  font-size: 17px;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  .contenedor-habilidades p{
    display: flex;
    width: 320px;
    margin-left: 30px;
    margin-top: -450px;
    text-align: justify;
    line-height: normal;
    font-size: 15px;
    font-style: italic;
  }
}